<%= link_to "ゴルフショップ一覧", shops_path , :style=>"color:black;"%>
 <div>
   <% Place.where(variation: 2).each do |place| %>
     <%= link_to places_path(place.id) do%>
       <table class="table">
            <tr>
             <th><%= place.name %></th>
             <th><%= place.access %></th>
             <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= place.address %>">
</iframe>
            </tr>
           </table>
       <% end %>
      <% end %>
  </div>