<%= link_to "Myゴルフショップ一覧", myshop_path , :style=>"color:black;"%>
<div>
  <% current_user.likes.each do |like| %>
    <% if like.place.variation == 'shop' %>
      <%= link_to place_path(like.place.id) do%>
        <table class="table">
          <tr>
            <th><%= like.place.name %></th>
            <th><%= like.place.access %></th>
            <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= like.place.address %>"></iframe>
          </tr>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>
