<div class="container" style="padding-bottom: 20px;">
  <div class="row">
   <div class="profile-image">
     <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, class: "img-circle profile-thumb", fallback: "no_image.jpg" %>

   </div>
  </div>
</div>

 <div class="row">
  <div class="col-xs-6">
   <table>
     <thead>
  <div class="container">

    <div class="profile-name">
	   <h3 class="prof-n-kan">アカウント名</h3>
	     <%= @user.name %>
    </div>
            </thead>
     </table>
    </div>

    <div class="col-xs-6">
     <table>
      <thead>
    <div class ="another-address">
    	<%= link_to "Myコース場", '/', :style=>"color:black;"%>
    </div>
    <div class ="another-address">
    	<%= link_to "My練習場", '/', :style=>"color:black;"%>
    </div>
    <div class ="another-address">
    	<%= link_to "Myゴルフショップ", '/', :style=>"color:black;"%>
    </div>
    <div class ="another-address">
    	<%= link_to "フォロー中", '/', :style=>"color:black;"%>
    </div>
    <div class ="another-address">
    	<%= link_to "フォロワー", '/', :style=>"color:black;"%>
    </div>
      </thead>
     </table>
   </div>
</div>