<%= link_to "コース場一覧", courses_path , :style=>"color:black;"%>
  <p>
   <% Place.where(variation: 0).each do |place| %>
     <%= link_to place_path(place.id) do%>
      <table class="table">
            <tr>
             <th><%= place.name %></th>
             <th><%= place.access %></th>
             <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= place.address %>">
</iframe>
            </tr>
           </table>
       <% end %>
      <% end %>
  </p>
