<div class="about-main">
  <div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">コース場</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">練習場</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">ゴルフショップ</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
     <%= link_to "コース場ランキング一覧", courses_path , :style=>"color:black;"%>
      <p>
        <% Place.where(variation: 0).each do |place| %>
         <%= link_to places_path(place.id) do%>
           <table class="table">
            <tr>
             <th><%= place.name %></th>
             <th><%= place.access %></th>
             <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= place.address %>">
</iframe>
            </tr>
           </table>
           <% end %>
         <% end %>
      </p>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <%= link_to "練習場ランキング一覧", driving_ranges_path , :style=>"color:black;"%>
       <p>
         <% Place.where(variation: 1).each do |place| %>
           <%= link_to places_path(place.id) do%>
            <table class="table">
             <tr>
              <th><%= place.name %></th>
              <th><%= place.access %></th>
              <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= place.address %>">
</iframe>
             </tr>
            </table> 
            <% end %>
          <% end %>
        </p>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
       <%= link_to "ゴルフショップランキング一覧", shops_path , :style=>"color:black;"%>
         <p>
           <% Place.where(variation: 2).each do |place| %>
             <%= link_to places_path(place.id) do%>
               <table class="table">
                <tr>
                 <th><%= place.name %></th>
                 <th><%= place.access %></th>
                 <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= place.address %>">
</iframe>
                </tr>
               </table>
              <% end %>
            <% end %>
         </p>
    </div>
  </div>
</div>
</div>
