<!DOCTYPE html>
<html>
  <head>
    <title>Gimmie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
      <% if administrator_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/login_header' %>
      <% else %>
        <%= render 'layouts/not_login_header' %>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    </div>

    <% if user_signed_in? %>
        <%= render 'layouts/footer' %>
      <% else %>
        <%= render 'layouts/not_login_footer' %>
      <% end %>
  </div>
  </body>
</html>
